<?xml version="1.0" encoding="UTF-8"?>
<web-app 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>PaymentsWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServelet</display-name>
    <servlet-name>RegisterServelet</servlet-name>
    <servlet-class>paymentApp.RegisterServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServelet</servlet-name>
    <url-pattern>/RegisterServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>paymentsApp.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankRegistrationServelet</display-name>
    <servlet-name>BankRegistrationServelet</servlet-name>
    <servlet-class>paymentApp.BankRegistrationServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankRegistrationServelet</servlet-name>
    <url-pattern>/BankRegistrationServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginservelet</display-name>
    <servlet-name>Loginservelet</servlet-name>
    <servlet-class>paymentApp.Loginservelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservelet</servlet-name>
    <url-pattern>/Loginservelet</url-pattern>
  </servlet-mapping>
</web-app>